Exercise_19_Instant_Login_Feedback_and_Auto_Complete_using_Ajax/CitySchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XSD schema defining structure of TamilNadu city list -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TamilNadu">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="City" minOccurs="5" maxOccurs="25">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Name"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
